@model Dojo_League.Models.DojoBundle
@{
    ViewData["Title"] = @Model.Dojo.Name;
}

<div class="row mt-5">
    <div class="col-12">
        <h1>@Html.DisplayFor(modelItem => @Model.Dojo.Name)</h1>
        <h5 class="mt-4">Dojo Location - @Html.DisplayFor(modelItem => @Model.Dojo.Location)</h5>
        <h5 class="mt-4">Information - @Html.DisplayFor(modelItem => @Model.Dojo.Info)</h5>
    </div>
</div>
<div class="row mt-5">
    <div class="col-6">
        <h2 class="pb-3">Current Members</h2>
        <table class="table table-striped table-bordered table-dark">
            <thead>
                <tr>
                    <th class="w-75">Ninja</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(Ninja member in @Model.Members)
                    {
                        <tr>
                            <td class="align-middle">@member.Name</td>
                            <td class="align-middle text-center"><a href="/Banish/@member.Id/@Model.Dojo.DojoId" class="btn btn-dark">Banish!</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h2 class="pb-3">Rogue Ninjas</h2>
        <table class="table table-striped table-bordered table-dark">
            <thead>
                <tr>
                    <th class="w-75">Ninja</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(Ninja rogue in @Model.Rogue)
                    {
                        <tr>
                            <td class="align-middle">@rogue.Name</td>
                            <td class="align-middle text-center"><a href="/Recruite/@rogue.Id/@Model.Dojo.DojoId" class="btn btn-dark">Recruite!</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
